
.navbar-brand {
	font-family: 'Pacifico', 'cursive';
}

.image {
	width: 100%;
	height: 80%;
	padding: 5px 100px 0px 100px;
}

div.centered {
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
}

div.row {
    position: relative;
    text-align: center;
    color: white;
}

h1.mid-poster {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: antiquewhite; 
	font-family: 'Lobster', 'Anton';
	font-size: 90px;
}
.section-1 {
	margin-top: 15px;
}
.title {
	display: block;
	margin: auto;
    text-align: center;
	font-family: 'Limelight', 'cursive';
	color: black;
	padding: 20px;
	text-decoration: underline;
}
div.section-content {
	display: block;
	padding: 0px 100px 5px 100px;
	text-align: justify;
	font-weight: bolder;
	color: black;
}

div.timeline {
	display: block;
	padding: 0px 100px 5px 100px;
	text-align: justify;
	font-weight: 600;
	color: black;
}

footer{
	background-color: rgba(0,0,0,.9);
	text-align: center;
	padding: 15px;
    
}
.social a{
    position: relative;
    display: inline-block;
    color: transparent;
    text-align: center;
    text-decoration: none;
    margin-right: 30px;
    
}
 

.footerImage{
	padding-right: 4px;
    border-radius: 5%;
}


.social a:before,
.social a:after{
    content: "";
    display: block;
    position: absolute;
    background: transparent;
    top: 0; bottom: 0; left: 0; right: 0;
    transition: .5s all;
    color: white;
}

.social a:hover:after{
   -webkit-transform: scale(1.5);
    border: 3px solid white;
    border-radius: 7%;
}
.social a:hover:before{
    -webkit-transform: scale(1.5);
    transition: .5s all;
    opacity: 0;
    border: 3px solid white;
    border-radius: 7%;
}

