body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.navbar {
	top: 0;
	opacity: 100%;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	padding: 0.2rem 1rem !important;
}
.navbar-brand {
	font-family: 'Pacifico', 'cursive';
	font-size: 1.3rem;
}
a.nav-link {
	font-size: 20px;
}
.hide-nav {
	top: -54px;
	opacity: 0;
}
.banner {
	text-align: center; 
	position: relative;
}

video {
	width: 100%;
	right: 0; 
	left: 0; 
	z-index: -100; 
	position: relative; 
	display: block;
}

div.centered {
	position: absolute; 
	top: 50%; 
	left: 50%; 
	margin-top: 20px;
	-webkit-transform: translate(-50%, -50%); 
	        transform: translate(-50%, -50%);
}

h1.mid-poster {
	color: antiquewhite; 
	font-family: 'Lobster', 'Anton', 
	sans-serif;
	font-size: 90px;
}
.section-1 {
	margin-top: 15px;
}
.title {
	display: block;
	margin: auto;
	text-align: center;
	font-family: 'Limelight', 'cursive';
}
.section-content p {
	display: block;
	padding: 10px 15px 0px 15px;
	text-align: justify;
	font-weight: bold;
	letter-spacing: 0.05em;
}

footer {
	background-color: rgba(0,0,0,.9);
	text-align: center;
	padding: 15px;
    
}
.social a {
    position: relative;
    display: inline-block;
    color: transparent;
    text-align: center;
    text-decoration: none;
    margin-right: 30px;  
}
 
.footerImage {
	padding-right: 4px;
    border-radius: 5%; 
}

.social a:before,
.social a:after {
    content: "";
    display: block;
    position: absolute;
    background: transparent;
    top: 0; bottom: 0; left: 0; right: 0;
    -webkit-transition: .5s all;
    transition: .5s all;
    color: white;  
}

.social a:hover:after {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    border: 3px solid white;
    border-radius: 7%;
}
.social a:hover:before {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
    -webkit-transition: .5s all;
    transition: .5s all;
    opacity: 0;
    border: 3px solid white;
    border-radius: 7%;
}

.main-image{
	width: 150px;
  border-radius: 50%;
  float: left;
  margin-right: 2em;
  margin-bottom: 0.5em;
  shape-outside: circle();
}


@media screen and (max-width: 560px) {

h1.mid-poster {

	font-size: 50px;
}

}