body {
    background-image: url('../images/back.png');
}

h1 {
    padding-top: 85px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}


#Quotes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	
}

#intro {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.3rem;
    word-spacing: 0.2rem;
}

.quote {
    width: 30%;
    margin: 10px;
    text-align: center;
    border: 2px solid grey;
    -webkit-box-shadow: 9px 11px 29px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 11px 29px -9px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    height: 30%;
	float: left;
}

.quote p {
    text-align: justify;
    padding: 10px;
}

.quote h2 {
    font-family: 'IBM Plex Serif', serif;
}

div.quote img {
    width: 200px;
	height: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

p {
    font-size: 18px;
}

@media screen and (max-width: 680px) {
    
    .quote {
        display: block;
        width: 100%;
        margin: 5px 10px 5px 10px;
    }
}