body {
    background-image: url('../images/back.png');
}

h1 {
    padding-top: 66px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}
a.navbar-brand{
    font-family: 'Pacifico', cursive;
}

#quotes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	
}

#intro {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.quote {
    width: 30%;
    margin: 10px;
    text-align: center;
    border: 2px solid grey;
    -webkit-box-shadow: 9px 11px 29px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 9px 11px 29px -9px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    height: 30%;
	float: left;
}

.quote p {
    text-align: justify;
    padding: 10px;
}

.quote h2 {
    font-family: 'IBM Plex Serif', serif;
}

div.quote img {
    width: 200px;
	height: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

p {
    font-size: 18px;
}

footer {
    background-color: rgba(0, 0, 0, .9);
    text-align: center;
    padding: 15px;

}

.social a {
    position: relative;
    display: inline-block;
    color: transparent;
    text-align: center;
    text-decoration: none;
    margin-right: 30px;

}


.footerImage {
    padding-right: 4px;
    border-radius: 5%;
	position: absolute;
}


.social a:before,
.social a:after {
    content: "";
    display: block;
    position: absolute;
    background: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: .5s all;
    transition: .5s all;
    color: white;
}

.social a:hover:after {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    border: 3px solid white;
    border-radius: 7%;
}

.social a:hover:before {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: .5s all;
    transition: .5s all;
    opacity: 0;
    border: 3px solid white;
    border-radius: 7%;
}

@media screen and (max-width: 680px) {
    
    .quote {
        display: block;
        width: 100%;
        margin: 5px 10px 5px 10px;
    }
}